<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>INDEX</h1>

    <p>
        {% for item in menus %}
            {% if not item.parent_menu %}
                <p class="menu"> {{item.name}}</p>
                <p class="submenu">
                    {% for item in item.get_children%}
                    {{item.name}}
                    {% endfor %}
                </p>

            {% endif %}
        {% endfor %}
    </p>

</body>
</html>